<footer class="footer">
    <div class="footer__sponsors">
        <div class="div1">
            <img src="images/sprite.svg#MPTRF" alt="Минпромторг лого">
        </div>
        <div class="div2">
            <img src="images/sprite.svg#minecrazv" alt="Министерство экономического развития РФ лого">
        </div>
        <div class="div3">
            <img src="images/sprite.svg#ekonomikia-wt" alt="Экономика лого">
        </div>
        <div class="div4">
            <img src="images/sprite.svg#RVC" alt="NexTouch лого">
        </div>
        <div class="div5">
            <img src="images/sprite.svg#nt-logo7" alt="NexTouch лого">
        </div>
        <div class="div6">
            <picture class="header__logo--img">
                <source srcSet="images/ross_gazeta.avif" type="image/avif" />
                <source srcset="images/ross_gazeta.webp" type="image/webp">
                <img src="images/ross_gazeta.png" alt="Российская газета лого" />
            </picture>
        </div>
        <div class="div7">
            <picture class="header__logo--img">
                <source srcSet="images/yellow_hand.avif" type="image/avif" />
                <source srcset="images/yellow_hand.webp" type="image/webp">
                <img src="images/yellow_hand.png" alt="Yellow Hand лого" />
            </picture>
        </div>
        <div class="div8">
            <svg viewBox="0 0 185 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.9087 19.2335H14.3191V9.27498L9.7363 19.2335H7.17237L2.59208 9.3569V19.2335H0V5.5911H3.54652L8.51063 16.5327L13.4184 5.5911H16.9087V19.2335Z" fill="white"/>
                <path d="M32.63 16.7784C32.1925 16.7784 31.9213 16.5071 31.9213 16.0411V10.8033C31.9213 7.1476 29.2754 5.31974 26.0027 5.31974C22.8656 5.31974 20.4117 7.11944 19.8948 9.65899H22.6481C23.1394 8.26633 24.6389 7.61352 25.8671 7.61352C27.9397 7.61352 29.1936 8.37641 29.1936 9.60522C29.1936 10.2862 28.9761 10.7496 26.3021 11.0516L24.7745 11.2155C21.5017 11.5713 19.7848 13.3429 19.7848 15.4984C19.7848 17.8716 21.3943 19.51 24.4214 19.51C26.494 19.51 28.431 18.6088 29.5748 17.2725C29.7104 18.5269 30.5011 19.236 31.8394 19.236H33.1495V16.781H32.63V16.7784ZM29.5492 13.4222C29.5492 15.4959 27.2847 17.2699 24.6952 17.2699C23.1957 17.2699 22.3487 16.5327 22.3487 15.4703C22.3487 14.4616 22.8682 13.5323 25.0764 13.2865L26.604 13.1227C28.1316 12.9589 28.9761 12.6312 29.5492 12.196V13.4222Z" fill="white"/>
                <path d="M34.3214 14.9224H36.911C37.4022 16.5327 38.7124 17.2136 40.7824 17.2136C42.7451 17.2136 44.0552 16.5045 44.0552 15.4958C44.0552 14.541 43.482 13.9394 41.1637 13.5579L39.6105 13.284C36.2277 12.6824 34.7027 11.3204 34.7027 9.32874C34.7027 6.90184 37.021 5.31718 40.4293 5.31718C43.4564 5.31718 45.8566 6.79176 46.4553 9.3825H43.7021C43.2389 8.23561 41.7932 7.66472 40.4012 7.66472C38.5204 7.66472 37.3204 8.26377 37.3204 9.24682C37.3204 10.1198 38.111 10.6651 39.9662 10.9646L41.5475 11.2385C45.3934 11.8939 46.6191 13.3403 46.6191 15.4958C46.6191 17.869 44.3827 19.5074 40.675 19.5074C37.3485 19.5074 34.7052 17.8434 34.3214 14.9224Z" fill="white"/>
                <path d="M51.8749 0H49.2854V19.2335H51.8749V0Z" fill="white"/>
                <path d="M61.7187 5.31974C57.6271 5.31974 54.4644 8.40201 54.4644 12.4136C54.4644 16.4251 57.6271 19.5074 61.7187 19.5074C65.7821 19.5074 68.9192 16.4251 68.9192 12.4136C68.9192 8.40201 65.7821 5.31974 61.7187 5.31974ZM61.7187 17.1061C59.1292 17.1061 57.1359 15.0606 57.1359 12.4136C57.1359 9.76651 59.1266 7.72104 61.7187 7.72104C64.2826 7.72104 66.2452 9.76651 66.2452 12.4136C66.2452 15.0581 64.2826 17.1061 61.7187 17.1061Z" fill="white"/>
                <path d="M84.157 5.5911L78.2947 19.2335H74.912L69.0497 5.5911H71.9412L76.6571 16.6683L81.3474 5.5911H84.157Z" fill="white"/>
                <path d="M88.9189 15.7391C87.9645 15.7391 87.1917 16.5122 87.1917 17.4671C87.1917 18.422 87.9645 19.1951 88.9189 19.1951C89.8734 19.1951 90.6461 18.422 90.6461 17.4671C90.6461 16.5147 89.8708 15.7391 88.9189 15.7391Z" fill="white"/>
                <path d="M88.9189 5.10726C87.9645 5.10726 87.1917 5.88038 87.1917 6.83527C87.1917 7.79016 87.9645 8.56329 88.9189 8.56329C89.8734 8.56329 90.6461 7.79016 90.6461 6.83527C90.6461 5.88038 89.8708 5.10726 88.9189 5.10726Z" fill="white"/>
                <path d="M106.956 19.1029H105.664C104.343 19.1029 103.563 18.4015 103.427 17.1624C102.296 18.4834 100.385 19.3717 98.3354 19.3717C95.3467 19.3717 93.7577 17.7564 93.7577 15.4114C93.7577 13.284 95.4541 11.5304 98.6859 11.1796L100.193 11.0184C102.834 10.7214 103.049 10.2632 103.049 9.58987C103.049 8.37641 101.81 7.62376 99.7606 7.62376C98.5478 7.62376 97.0688 8.27145 96.5826 9.64363H93.8626C94.3743 7.13736 96.7975 5.35814 99.8963 5.35814C103.128 5.35814 105.741 7.16296 105.741 10.7752V15.949C105.741 16.4072 106.009 16.676 106.442 16.676H106.956V19.1029ZM103.402 13.3633V12.1499C102.836 12.5825 102 12.9051 100.492 13.0664L98.9828 13.2277C96.8026 13.4683 96.2909 14.3848 96.2909 15.3832C96.2909 16.4328 97.1251 17.1624 98.6066 17.1624C101.165 17.1624 103.402 15.4114 103.402 13.3633Z" fill="white"/>
                <path d="M121.951 5.62694V18.0252C121.951 21.9062 119.364 23.9542 115.405 23.9542C112.117 23.9542 109.776 22.3644 109.318 19.7506H111.851C112.227 21.0716 113.522 21.7986 115.541 21.7986C118.1 21.7986 119.392 20.6133 119.392 18.2965V16.7323C118.261 18.1071 116.59 18.9698 114.704 18.9698C111.15 18.9698 108.481 16.0335 108.481 12.1525C108.481 8.29705 111.173 5.3607 114.704 5.3607C116.672 5.3607 118.394 6.27719 119.525 7.75944V5.6295H121.951V5.62694ZM119.474 12.2293C119.474 9.61546 117.695 7.72873 115.272 7.72873C112.875 7.72873 111.124 9.61546 111.124 12.2293C111.124 14.843 112.875 16.7298 115.272 16.7298C117.695 16.7323 119.474 14.8456 119.474 12.2293Z" fill="white"/>
                <path d="M138.248 13.4171H127.204C127.58 15.5189 129.358 17.0011 131.459 17.0011C133.345 17.0011 134.502 16.2459 135.177 15.0888H137.818C136.956 17.5951 134.425 19.3743 131.462 19.3743C127.447 19.3743 124.538 16.4098 124.538 12.3675C124.538 8.32521 127.447 5.3607 131.434 5.3607C135.85 5.35814 138.598 8.51209 138.248 13.4171ZM127.23 11.1796H135.5C135.285 8.99594 133.588 7.62376 131.38 7.62376C129.225 7.62376 127.58 9.10346 127.23 11.1796Z" fill="white"/>
                <path d="M153.524 11.6379V19.1029H150.965V11.6916C150.965 9.23914 149.322 7.81065 147.275 7.81065C144.906 7.81065 143.422 9.69739 143.422 11.9067V19.1029H140.863V5.62694H143.286V7.78249C144.256 6.32839 145.899 5.35814 147.731 5.35814C150.937 5.35814 153.524 7.38056 153.524 11.6379Z" fill="white"/>
                <path d="M163.273 5.35814C166.236 5.35814 168.902 7.27304 169.657 10.0737H166.855C166.236 8.64521 164.808 7.72873 163.137 7.72873C160.579 7.72873 158.747 9.75115 158.747 12.3649C158.747 14.9787 160.579 16.9986 163.137 16.9986C164.808 16.9986 166.236 16.0821 166.855 14.6536H169.657C168.902 17.4568 166.236 19.3692 163.273 19.3692C159.233 19.3692 156.108 16.3227 156.108 12.3624C156.108 8.40457 159.233 5.35814 163.273 5.35814Z" fill="white"/>
                <path d="M185 5.62694L178.455 20.6108C177.915 22.0393 176.973 23.7366 174.332 23.7366C173.498 23.7366 172.718 23.711 172.367 23.6828V21.2585C173.122 21.3122 173.391 21.3122 174.171 21.3122C175.274 21.3122 175.76 20.6108 176.111 19.8044L176.515 18.8623L169.969 5.6295H172.961L177.782 15.9771L182.306 5.6295H185V5.62694Z" fill="white"/>
            </svg>
        </div>
        <div class="div9">
            <picture class="header__logo--img">
                <source srcSet="images/simplewine.avif" type="image/avif" />
                <source srcset="images/simplewine.webp" type="image/webp">
                <img src="images/simplewine.png" alt="Yellow Hand лого" />
            </picture>
        </div>
        <div class="div10">
            <picture class="header__logo--img">
                <source srcSet="images/idm.avif" type="image/avif" />
                <source srcset="images/idm.webp" type="image/webp">
                <img src="images/idm.png" alt="Yellow Hand лого" />
            </picture>
        </div>
        <div class="div11">
            <img src="images/sprite.svg#almara-1" alt="Almara's Dessert кондитерская">
        </div>
    </div>
</footer>