<div class="wrapper">
    <div class="content content-main-page">
        <main class="main main-page">
            <h1 class="main-page__title">GENERATIONS INNOVATION AWARD 2023</h1>
            <h2 class="main-page__subtitle">Регистрация <p>на мероприятие</p></h2>
            <div class="main-page__buttons">
                <a class="btn btn-blue btn-qr" href="/qr">QR-код</a>
                <a class="btn btn-blue btn-search" href="/search">Поиск</a>
                <a class="btn btn-inherit btn-timing" href="/timing">Программа мероприятия</a>
            </div>
        </main>
    </div>
    {{> footer }}
</div>
{{> scripts }}
