<div class="wrapper">
    <div class="content content-timing">
        {{> header}}
        <main class="main timing-page">
            <h2 class="page__title timing-page__title">ПРОГРАММА ТОРЖЕСТВЕННОЙ ЦЕРЕМОНИИ НАГРАЖДЕНИЯ ПРЕМИИ</h2>
            <div class="timing-page__info">
                <p>Дата: <strong>27 июня 2023 г.</strong></p>
                <p>Время: <strong>18:30 – 22:00</strong></p>
                <p>Место: <strong>г. Москва, Новинский бул., 8, стр. 2, Lotte Hotel</strong></p>
            </div>
            <div class="timing-page__table">
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">РЕГИСТРАЦИЯ ГОСТЕЙ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>18:30  –  19:00</th>
                        <td>Регистрация, приветственный коктейль</td>
                    </tr>
                    <tr>
                        <th>19:00  –  19:10</th>
                        <td>Выступление кавер-группы</td>
                    </tr>
                    <tr>
                        <th>19:10   –  19:20</th>
                        <td>Открытие церемонии награждения</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th colspan="2">НАГРАЖДЕНИЕ ПО ОСНОВНЫМ НОМИНАЦИЯМ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>19:20</th>
                        <td>Номинация <strong>«Инновационная компания года»</strong></td>
                    </tr>
                    <tr>
                        <th>19:30</th>
                        <td>Номинация <strong>«Импортозамещение года»</strong></td>
                    </tr>
                    <tr>
                        <th>19:40</th>
                        <td>Номинация <strong>«Внутренняя инновация года»</strong></td>
                    </tr>
                    <tr>
                        <th>19:50</th>
                        <td>Номинация <strong>«Инновационная команда года»</strong></td>
                    </tr>
                    <tr>
                        <th>20:00</th>
                        <td>Номинация <strong>«Коллаборация года»</strong></td>
                    </tr>
                    <tr>
                        <th>20:10</th>
                        <td>Номинация <strong>«Инноватор года»</strong></td>
                    </tr>
                    <tr>
                        <th>20:20 – 20:30</th>
                        <td>Выступление кавер-группы</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th colspan="2">НАГРАЖДЕНИЕ ПО СПЕЦИАЛЬНЫМ НОМИНАЦИЯМ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>20:30</th>
                        <td>Номинация <strong>«Агент изменений»</strong></td>
                    </tr>
                    <tr>
                        <th>20:40</th>
                        <td>Номинация <strong>«Социальная инновация»</strong></td>
                    </tr>
                    <tr>
                        <th>20:50</th>
                        <td>Номинация <strong>«Лидер цифровизации государственного сектора»</strong></td>
                    </tr>
                    <tr>
                        <th>21:00</th>
                        <td>Номинация <strong>«Энергия инноваций»</strong></td>
                    </tr>
                    <tr>
                        <th>21:10</th>
                        <td>Номинация <strong>«Локомотив инноваций»</strong></td>
                    </tr>
                    <tr>
                        <th>21:20</th>
                        <td>Номинация <strong>«Сила кооперации»</strong></td>
                    </tr>
                    <tr>
                        <th>21:30</th>
                        <td>Номинация <strong>«Будущее инноваций»</strong></td>
                    </tr>
                    <tr>
                        <th>21:40</th>
                        <td>Общее фото финалистов премии</td>
                    </tr>
                    <tr>
                        <th>21:30 – 22:30</th>
                        <td>Свободное общение участников</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </main>
    </div>
    {{> footer }}
</div>
{{> scripts }}

